
<h1 class="page-header">圖表</h1>

<div class="row" style="margin:0px;height:700px">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <canvas id="myChart1" width="200" height="180"></canvas>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<div class="row" style="margin:0px;height:600px">
    <div class="col-lg-6">
        <canvas id="myChart2" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6">
        <canvas id="myChart3" width="200" height="200"></canvas>
    </div>
</div>
<div class="row" style="margin:0px;height:600px">
    <div class="col-lg-6">
        <canvas id="myChart4" width="200" height="200"></canvas>

    </div>
    <div class="col-lg-6">
        <canvas id="myChart5" width="200" height="200"></canvas>
    </div>
</div>
<div class="row" style="margin:0px;height:600px">
    <div class="col-lg-6">
        <canvas id="myChart6" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6">
        <canvas id="myChart7" width="200" height="200"></canvas>
    </div>
</div>
<script>

    CallChart1();
    ////CallChart3();
    ////CallChart2("肉類", 3);
    ////CallChart2("海鮮", 4);
    ////CallChart2("蔬果", 5);
    ////CallChart2("調味品", 6);
    ////CallChart2("五穀雜糧", 7);
</script>