
    <h1 class="page-header">管理首頁</h1>
    <div class="row" style="height:100px; border:rgb(223, 223, 223) 1px solid; margin: 0;  ">
        <div class="col-sm-3" style="font-size: 20px; ">
            帳號
            <i class="glyphicon glyphicon-user"></i>
            <input type="text" value="famar123" readonly style="text-align:center;" />
        </div>
        <div class="col-sm-3" style="font-size: 20px;">
            用戶
            <i class="glyphicon glyphicon-king"></i>
            <input type="text" value="客服" style="text-align:center;" readonly />
        </div>
        <div class="col-sm-3" style="font-size: 20px;">
            權限
            <i class="glyphicon glyphicon-star"></i>
            <input type="text" value="一般" style="text-align:center;" readonly />
        </div>
    </div>
    <div class="row" style="margin:0;">

        <div class="col-sm-11">
            <table ellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" style="width:100%" id="DataTable1">
                <thead>
                    <tr style="background-color:cornflowerblue;">
                        <th>帳號</th>
                        <th>狀態</th>
                        <th>類型</th>
                        <th>時間</th>
                        <th>行為</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>

<script>
    ServiceIndexRun();
</script>