<h1 class="page-header">會員管理</h1>

<div class="row" style="margin:0;">

    <div class="col-sm-11">
        <table ellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" style="width:100%" id="DataTable1">
            <thead>
                <tr style="background-color:cornflowerblue;">
                    <th>帳號</th>
                    <th>姓名</th>
                    <th>電話</th>
                    <th>照片</th>
                    <th>修改</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

<script>


    MemberRun();
</script>
